.box{
    border: 1px solid rgb(195, 197, 197);
    padding: 3rem 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 25px;
}
h5{
    font-size: 17px;
    font-weight: 400;
}
.outest{
    border: 1px solid rgb(195, 197, 197);
    padding: 2rem 2rem;
}
.outer{
    border: 1px solid rgb(195, 197, 197);
    padding: 2rem 2rem 0;
}
.forAddButton{
    border: 1px solid rgb(195, 197, 197);
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
#forForm{
    border: 1px solid rgb(195, 197, 197);
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    display: none;
}

